.bottom {
  /* margin-top: -50vh; */
}

.bottom h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 24px;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin-top: 200px;
}
