.cards {
  text-align: start;
  width: 70%;
  margin: auto;
}

.cards h4 {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
  color: #ff7846;
}

.cards h1 {
  font-family: "Karla", sans-serif;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 32px;
  margin-bottom: 12px;
  color: white;
}
.cards img {
  display: block;
  width: 360px;
  height: auto;
}

.cards h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  line-height: 28px;
  max-width: 360px;
  color: white;
  opacity: 0.75;
  font-weight: 400;
}

.cards__button {
  margin-top: 30px !important;
  margin-bottom: 40px !important;
  background-color: white !important;
  color: #000ff0 !important;
  text-transform: none !important;
  font-weight: 700 !important;
}

.cards__button svg {
  margin-left: 5px;
  font-size: 18px;
  transition: all 0.3s;
}

.cards__button:hover svg {
  transform: translateX(-4px);
}
.cards__chip--div {
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1f0d52;
}

.cards__chip {
  font-size: 10px !important;
  color: #bea7ff !important;
  background: #1f0d52 !important;
}

.para {
  color: #fff;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 34px;
  text-align: end;
}

.cards__button--low {
  width: fit-content;
  /* margin-top: 30px; */
  transform: translateX(60px);
  background-color: transparent;
  background-color: transparent !important;
}
.header__button--filled:hover svg {
  transition: all 0.3s;
}

.cards__hr {
  opacity: 0.2;
  margin-top: 50px;
  color: grey;
}
