.message img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.message form {
  width: 70%;
  display: block;
  margin: auto;
}

.message__loader {
  margin-bottom: 20vh;
  margin-top: -20vh;
}

.message__button {
  margin-top: 20px !important;
}

.message__success {
  font-weight: 400;
  color: #388e3c;
  text-transform: capitalize;
}

.message__error {
  font-weight: 400;
  color: #d32f2f;
  text-transform: capitalize;
}

.message__back {
  position: absolute;
  top: 5%;
  left: 5%;
}
.message__back svg {
  font-size: 40px;
}

.message__container {
  height: 100vh;
}
